.show {
    animation: fadein 0.5s;
}
.showPermanente{
	animation: fadein 3s;
	animation-fill-mode: forwards;

}

.fadein {
    opacity: 0;
    -moz-transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
    transition: opacity 1.5s;
}

@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: #953E1A;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    /* top: 10%; */
    top: 50%;
    /* margin-top: 30%; */
    left: 50%;
    /* margin-top: -13px; */
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

.loadingText {
    animation: loadingText 0.8s linear infinite;
    -webkit-animation: loadingText 0.8s linear infinite;
}

@keyframes loadingText {
    0% {
        color: white;
    }
    50% {
        color: white;
    }
    100% {
        color: white;
    }
}

.loadingText {
    animation: loadingText 0.8s linear infinite;
    -webkit-animation: loadingText 0.8s linear infinite;
    margin-top: 20%;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid white;
        border-left-color: transparent;
    }
}
