.ocultar{
    display: none;
}
.items_notificaciones {
    position: absolute;
    list-style: none;
    width: 20%;
    margin-left: 8%;
}
.items_notificaciones li{
    background-color: white;
    border: 3px solid #F76426;
    border-bottom: 1.8px solid #F76426;
    border-top: 1px solid #F76426;
}
.items_notificaciones li div p, i{
    color: black;
}
.items_notificaciones li div{
    display: inline-flex;

}
.items_notificaciones li div i{
    display: inline-flex;
    font-size: 150%;
}
.campanita{
    color: white;
    font-size: 170%;
}