.ocultar{
    display: none;
}
.items_perfil {
    position: absolute;
    list-style: none;
    width: 13.5%;
    margin-left: 8%;
    margin-top: 25%;
}
.items_perfil li{
    background-color: #F76426;
    border: .5px solid white;
    border-bottom: 1.8px solid white;
}
.items_perfil li p{
    color: black;
    font-size: 15px;
    color: white;
}