.btn_favoritos_list {
    background-color: #dc3545;
    border: #dc3545;
    border-radius: 5px;
    color: white;
}

.botones-guardados {
    list-style: none;
}

.botones-guardados li {
    padding-left: 10px;
    display: inline-block;
}

#btnAddList {
    cursor: pointer;
}


/* HOVER BOTON FAVORITOS */

.hvr-radial-out-fav {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    background: #dc3545;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-radial-out-fav:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #74010c;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-out-fav:hover,
.hvr-radial-out-fav:focus,
.hvr-radial-out-fav:active {
    color: white;
}

.hvr-radial-out-fav:hover:before,
.hvr-radial-out-fav:focus:before,
.hvr-radial-out-fav:active:before {
    -webkit-transform: scale(2);
    transform: scale(2);
}