.nav__links li {
    padding-left: 20px;
    display: inline-block;
    padding-top: 0;
    /* para ajustarlo */
}

.nav__links .nav-icon-bell,
.nav__links .nav-icon-person {
    cursor: pointer;
}

.campanita {
    font-size: 25px;
}