* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Lato';
    background-color: #f5f5f5;
    
}

a {
    font-size: 14px;
    text-decoration: none !important;
}

header li,
a {
    color: #ffffff;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 2%;
    width: 100%;
    height: 100px;
    background-color: #F76426;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #F76426;
    background-color: #ffffff;
}

.navbar-button {
    width: 153px;
    padding: 9px 25px;
    color: #F76426;
    background-color: #ffffff;
    border: none;
    border-radius: 77px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbar-button:hover {
    /* TO DO */
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #F76426;
}

.search{
    height: 85vh;
    background-image: url("../img/unknown.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.search .col-md-6{
    margin-left: auto;
    margin-right: auto;
}
.div_input_search, .div_btn_publicar{
    margin-top: 5%;
}
.div_btn_publicar button{
    /* Publica tu habitación */
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center; 
    border: 2px solid #F76426;

    color: #F76426;
}

.div_btn_publicar button:hover{
    color: white;
    background-color: #F76426;
}
.div_title{
    margin-top: 20%;
}
.div_input_search button{
    background-color: #F76426;
    color: white;
}
/* CONTENIDO */
.img_ilustracion{
    width: 60%;
    height: 90vh;
    margin-left: 20%;
    margin-top: 2.5%;
}

.div_opiniones{
    border: 1px solid black;
    margin-bottom: 3%;
}
.div_opiniones p{
    text-align: center;
    margin-top: 0.5%;
}
.title_intermedio{
    text-align: center;
    margin-top: 1%;
}
.cards_simple{
    margin-left: 5%;
}
.cards_dobles{
    margin-left: 15%;
    padding-top: 5%;
}
.card_Completa{
    margin-left: 30%;
    padding-top: 5%;
}
.div_likes{
    display: inline-block;
    list-style: none;
}

/* FOOTER  */
footer{
    background-color: #F26D34;
}
.footer__links{
    list-style: none;
}
.footer__links div{
    border-bottom: 1px solid white;
    padding-top: 1%;
}

.footer__links div p{
    margin-left: 38%;
    color: white;
}

.footer__links li {
    display: inline-block;
    padding: 0px 20px;
    margin-left: 10%;
    margin-top: 1%;
}
.links_redesSociales{
    list-style: none;
    margin-left: 60%;
}
footer p{
    margin-left: 40%;
    color: white;
    padding-bottom: 1%;
}